{% extends 'portfolio/base.html' %}
{% block content %}

<main>
    <div class="container">
        <ul class="post-list-title">
            <li class="post-item-title">
                <h2>{{ blog.title }}</h2>
            </li>
            <li class="post-item-title">
                <h4>{{ blog.date }}</h4>
            </li>
        </ul>
        <ul class="post-list-description">
            <li class="post-item-description">
                <img class="post-discription-image" src="{{ blog.image.url }}">
            </li>
            <li class="post-item-description">
                <p>{{ blog.discription|linebreaks }}<p>
            </li>
        </ul>
    </div>
</main>
    
{% endblock %}