{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrey's portfolio</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <header class="header">
            <div class="container header-container">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'portfolio/logo.png' %}" class="logo-img">
                </a>
                <a href="{% url 'home' %}" class="logo-text">Andrey Dolesko</a>
                <div class="container-right">
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://spb.hh.ru/resume/7f9a2707ff03354d2c0039ed1f3471766e7a6c" target="_blank" class="nav-link">Resume</a>
                            </li>
                            </li class="nav-item">
                                <a href="https://github.com/AndreyYD" target="_blank" class="nav-link">GitHub</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="{% url 'blog:all_blogs' %}" class="btn header-btn">
                        Blog
                    </a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>